%h1 Listing uploads

%table
  %tr
    %th Size
    %th Site
    %th User
    %th
    %th
    %th

  - @uploads.each do |upload|
    %tr
      %td= upload.size
      %td= upload.site_id
      %td= upload.user_id
      %td= link_to 'Show', upload
      %td= link_to 'Edit', edit_upload_path(upload)
      %td= link_to 'Destroy', upload, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Upload', new_upload_path
